# Collaborative-Filtering Based Recommandation

In [1]:
import pandas as pd
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split

In [2]:
movies = pd.read_csv("dataset/movie.csv")

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
rating = pd.read_csv('dataset/rating.csv')

In [5]:
rating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [6]:
rating.duplicated().sum()

0

In [7]:
rating['movieId'].duplicated().sum()

19973519

In [8]:
reader = Reader(rating_scale=(rating.rating.min(), rating.rating.max()))
reader

In [9]:
data = Dataset.load_from_df(rating[['userId', 'movieId', 'rating']], reader)

In [10]:
data

##### using SVD Algorithm

In [11]:
trainset, _ = train_test_split(data, test_size=0.1, random_state=42)

In [12]:
trainset

In [13]:
model = SVD(
    verbose=True,
    n_factors=100,
    n_epochs=20,
)

In [14]:
model.fit(trainset)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19

#### Predict Top-n movies

In [15]:
rating['movieId'].unique().sum()

1572269395

In [16]:
def C_recommand(user_id, top_n=10):
    all_movies_ids = rating['movieId'].unique()
    # print(len(all_movies_ids))
    # print(all_movies_ids)
    # print()
    
    rated_movies = rating[rating['userId'] == user_id]['movieId'].tolist()
    # print(len(rated_movies))
    # print(rated_movies)

    unseen_movies = [movies_id for movies_id in all_movies_ids if movies_id not in rated_movies]
    # print(len(unseen_movies))
    # print(unseen_movies)

    # predict rating for unseen movies
    prediction = []
    for movies_id in unseen_movies:
        pred = model.predict(user_id, movies_id)
        # print(pred)
        # print()
        prediction.append((movies_id, pred.est))

    prediction.sort(key=lambda x: x[1], reverse=True)
    # print(prediction)
    
    top_preds = prediction[:top_n]

    temp_df = pd.DataFrame(top_preds, columns=['movieId', 'estimated_rating'])


    return movies[movies['movieId'].isin(temp_df['movieId'])]['title'].tolist()

In [ ]:
C_recommand(1)

In [18]:
movies[rating['userId'] == 1]['title'].tolist()

C:\Users\write\AppData\Local\Temp\ipykernel_19700\2247356436.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  movies[rating['userId'] == 1]['title'].tolist()

['Toy Story (1995)',
 'Jumanji (1995)',
 'Grumpier Old Men (1995)',
 'Waiting to Exhale (1995)',
 'Father of the Bride Part II (1995)',
 'Heat (1995)',
 'Sabrina (1995)',
 'Tom and Huck (1995)',
 'Sudden Death (1995)',
 'GoldenEye (1995)',
 'American President, The (1995)',
 'Dracula: Dead and Loving It (1995)',
 'Balto (1995)',
 'Nixon (1995)',
 'Cutthroat Island (1995)',
 'Casino (1995)',
 'Sense and Sensibility (1995)',
 'Four Rooms (1995)',
 'Ace Ventura: When Nature Calls (1995)',
 'Money Train (1995)',
 'Get Shorty (1995)',
 'Copycat (1995)',
 'Assassins (1995)',
 'Powder (1995)',
 'Leaving Las Vegas (1995)',
 'Othello (1995)',
 'Now and Then (1995)',
 'Persuasion (1995)',
 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
 'Dangerous Minds (1995)',
 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
 'Wings of Courage (1995)',
 'Babe (1995)',
 'Carrington (1995)',
 'Dead Man Walking (1995)',
 'Across the Sea of Time (1995)',
 'It Takes Two (1995)',
 'Clueless (1995)',
 'Cry, the Beloved Country (1995)',
 'Richard III (1995)',
 'Dead Presidents (1995)',
 'Restoration (1995)',
 'Mortal Kombat (1995)',
 'To Die For (1995)',
 'How to Make an American Quilt (1995)',
 'Seven (a.k.a. Se7en) (1995)',
 'Pocahontas (1995)',
 'When Night Is Falling (1995)',
 'Usual Suspects, The (1995)',
 'Guardian Angel (1994)',
 'Mighty Aphrodite (1995)',
 'Lamerica (1994)',
 'Big Green, The (1995)',
 'Georgia (1995)',
 'Kids of the Round Table (1995)',
 'Home for the Holidays (1995)',
 'Postman, The (Postino, Il) (1994)',
 'Confessional, The (Confessionnal, Le) (1995)',
 'Indian in the Cupboard, The (1995)',
 'Eye for an Eye (1996)',
 "Mr. Holland's Opus (1995)",
 "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
 'Two if by Sea (1996)',
 'Bio-Dome (1996)',
 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 'Two Bits (1995)',
 'French Twist (Gazon maudit) (1995)',
 'Friday (1995)',
 'From Dusk Till Dawn (1996)',
 'Fair Game (1995)',
 'Kicking and Screaming (1995)',
 'Misérables, Les (1995)',
 'Bed of Roses (1996)',
 'Big Bully (1996)',
 'Screamers (1995)',
 'Nico Icon (1995)',
 'Crossing Guard, The (1995)',
 'Juror, The (1996)',
 'White Balloon, The (Badkonake sefid) (1995)',
 "Things to Do in Denver When You're Dead (1995)",
 "Antonia's Line (Antonia) (1995)",
 'Once Upon a Time... When We Were Colored (1995)',
 'Last Summer in the Hamptons (1995)',
 'Angels and Insects (1995)',
 'White Squall (1996)',
 'Dunston Checks In (1996)',
 'Black Sheep (1996)',
 'Nick of Time (1995)',
 'Journey of August King, The (1995)',
 'Mary Reilly (1996)',
 'Vampire in Brooklyn (1995)',
 'Beautiful Girls (1996)',
 'Broken Arrow (1996)',
 'In the Bleak Midwinter (1995)',
 'Hate (Haine, La) (1995)',
 'Shopping (1994)',
 'Heidi Fleiss: Hollywood Madam (1995)',
 'City Hall (1996)',
 'Bottle Rocket (1996)',
 'Mr. Wrong (1996)',
 'Unforgettable (1996)',
 'Happy Gilmore (1996)',
 'Bridges of Madison County, The (1995)',
 'Nobody Loves Me (Keiner liebt mich) (1994)',
 'Muppet Treasure Island (1996)',
 'Catwalk (1996)',
 'Headless Body in Topless Bar (1995)',
 'Braveheart (1995)',
 'Taxi Driver (1976)',
 'Rumble in the Bronx (Hont faan kui) (1995)',
 'Before and After (1996)',
 "Margaret's Museum (1995)",
 'Happiness Is in the Field (Bonheur est dans le pré, Le) (1995)',
 'Anne Frank Remembered (1995)',
 "Young Poisoner's Handbook, The (1995)",
 'If Lucy Fell (1996)',
 'Steal Big, Steal Little (1995)',
 'Race the Sun (1996)',
 'Boys of St. Vincent, The (1992)',
 'Boomerang (1992)',
 'Chungking Express (Chung Hing sam lam) (1994)',
 "Star Maker, The (Uomo delle stelle, L') (1995)",
 'Flirting With Disaster (1996)',
 'NeverEnding Story III, The (1994)',
 'Silences of the Palace, The (Saimt el Qusur) (1994)',
 "Jupiter's Wife (1994)",
 'Pie in the Sky (1996)',
 'Angela (1995)',
 'Frankie Starlight (1995)',
 'Jade (1995)',
 'Nueba Yol (1995)',
 'Sonic Outlaws (1995)',
 'Down Periscope (1996)',
 'From the Journals of Jean Seberg (1995)',
 'Man of the Year (1995)',
 'Neon Bible, The (1995)',
 'Target (1995)',
 'Up Close and Personal (1996)',
 'Birdcage, The (1996)',
 'Shadows (Cienie) (1988)',
 'Gospa (1995)',
 'Brothers McMullen, The (1995)',
 'Bad Boys (1995)',
 'Amazing Panda Adventure, The (1995)',
 'Basketball Diaries, The (1995)',
 'Awfully Big Adventure, An (1995)',
 'Amateur (1994)',
 'Apollo 13 (1995)',
 'Rob Roy (1995)',
 'Addiction, The (1995)',
 'Batman Forever (1995)',
 'Beauty of the Day (Belle de jour) (1967)',
 'Beyond Rangoon (1995)',
 'Blue in the Face (1995)',
 'Canadian Bacon (1995)',
 'Casper (1995)',
 'Clockers (1995)',
 'Congo (1995)',
 'Crimson Tide (1995)',
 'Crumb (1994)',
 'Desperado (1995)',
 'Devil in a Blue Dress (1995)',
 'Die Hard: With a Vengeance (1995)',
 'Doom Generation, The (1995)',
 'Feast of July (1995)',
 'First Knight (1995)',
 'Free Willy 2: The Adventure Home (1995)',
 'Hackers (1995)',
 'Jeffrey (1995)',
 'Johnny Mnemonic (1995)',
 'Judge Dredd (1995)',
 'Jury Duty (1995)',
 'Kids (1995)',
 'Living in Oblivion (1995)']

In [19]:
import pickle

In [20]:
pickle.dump(model, open('C_filtering_model.pkl', 'wb'))

In [21]:
pickle.dump(rating, open('C_rating.pkl', 'wb'))

In [22]:
movies = pd.read_csv('dataset/movie.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [23]:
pickle.dump(movies, open('C_movies.pkl', 'wb'))